@import "../../styles/mixin.scss";

.top-wrapper {
    @include flex-layout(column);
    height: 90px;
    gap: 1rem;
    margin: 1rem 0;
    // border: 1px solid #222;
    .top1,
    .top2 {
      @include flex-layout(flex-start);
    }
    svg {
      font-size: 1.6rem;
    }
    h2 {
      @include font-h2();
    }
  }