.parking-select{
    max-width: $small-size;
    height: 100vh;
    margin: 0 auto;
    padding: 70px 16px;
    .reserve-notice{
        span{
            width: 20px;
            height: 20px;
        }
        @include flex-layout();
    }
}