.parking-select{
    max-width: $small-size;
    // height: 100vh;
    margin: 0 auto;
    padding: 70px 16px;
    .reserve-notice{
        @include flex-layout();
        gap: 0.5rem;
        .notice-icon-wrap{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .notice-icon{
                width: 30px;           
                height: 30px;
                border-radius: 50%;     
                display: flex;          
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                svg{
                    width: 17px;
                    height: 17px;
                }
            }
            span{
                @include font-overline();
                color: var(--color-graytxt);
            }
        }
    }
    .seat-wrapper{
        margin: 1.5rem;
        .seat-grid{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            padding: 1rem;
            .seat{
            &.my-reserve{background-color: #DCD5E8;}
            &.selected{background-color: #BD6CE3;}
            &.reserve{background-color: #EFEFEF;}
            &.available{background-color: #FFFEFF;}
            border: 1px solid #DCD5E8;
            text-align: center;
            padding: 10px;
            }
            .seat svg{ width: 100%; }
        }
    }

//날짜 + 페이지 타이틀
    .top-wrapper {
    @include flex-layout(column);
    height: 90px;
    gap: 1.5rem;
    margin: 1.5rem 0;
    // border: 1px solid #222;
    .top1 {
      @include flex-layout(flex-start);
      @include font-caption();
      color: var(--color-graytxt);
      gap: 0.5rem;
    }
    .top2 {
      @include flex-layout(flex-start);
      gap: 0.5rem;
    }
    .calendar-icon{ font-size: 1.5rem; }
    .map-icon { font-size: 2rem; color: var(--color-primary) }
    h2 { @include font-h2(); }
}

        button:nth-child(1){
            @include btn1();
            background-color: var(--color-secondary);
            color: var(--color-maintxt);
            margin-bottom: 1rem;
            span{ @include font-body-bold();}
        }
        button:nth-child(2){
            @include btn1();
        }
}
